@model IEnumerable<Generic_Repository_and_Unit_of_Work.Models.User>

@{
    ViewBag.Title = "AllTaxPayers";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-lg-6">
        <div class="card">
            <div class="card-close">
                <div class="dropdown">
                    <button type="button" id="closeCard1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="dropdown-toggle"><i class="fa fa-ellipsis-v"></i></button>
                    <div aria-labelledby="closeCard1" class="dropdown-menu dropdown-menu-right has-shadow"><a href="#" class="dropdown-item remove"> <i class="fa fa-times"></i>Close</a><a href="#" class="dropdown-item edit"> <i class="fa fa-gear"></i>Edit</a></div>
                </div>
            </div>
            <div class="card-header d-flex align-items-center">
                <h3 class="h4">Basic Table</h3>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-hover table-bordered table-striped" id="userTable">
                        <thead>
                            <tr>
                                <th>
                                    @Html.DisplayNameFor(model => model.firstName)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.lastName)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.email)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.institutionID)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.phoneNumber)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.UserRole.roleName)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.UserAccountState.accountStateName)
                                </th>
                                <th>
                                    Options
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.firstName)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.lastName)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.email)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Institution.institutionName)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.phoneNumber)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.UserRole.roleName)
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>